.iq-option {
  color: #f70;
  font-family: 'Roboto';
  padding: 300px 0px;
  font-weight: 400;
  background: url(https://cloud.githubusercontent.com/assets/2098777/22714620/6c204b18-ed9e-11e6-8dce-18853e3725fe.png) no-repeat center;
  background-size: cover;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}

.iq-body {
  text-align: center;
  font-size: 60px;
}
